{% extends 'base.html' %}

{% block content %}
    <h1>{% if object.id %}Edit{% else %}New{% endif %} schema</h1>
    <form id="form-container" method="POST">
        <button type="submit" class="new-schema-button btn btn-primary" style="float: right;">Submit</button>

        {% csrf_token %}
        {{ form.name.label }}
        {{ form.name }}
        <h1>Schema columns</h1>
        {{ formset.management_form }}
        {% for forms in formset %}
            <div class="d-inline-flex justify-content align-items-center">
                {% for hidden in forms.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ forms.as_table }}
            </div>
        {% endfor %}

        <a id="add-form" type="button" class="btn btn-primary add-column-button">Add column</a>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let columnForm = document.querySelectorAll(".d-inline-flex")
            let container = document.querySelector("#form-container")
            let addButton = document.querySelector("#add-form")
            let totalForms = document.querySelector("#id_schema_column-TOTAL_FORMS")

            let formNum = columnForm.length - 1 // set initial form number to 1 less than the actual number
            addButton.addEventListener('click', addForm)

            function addForm(e) {
                e.preventDefault()

                let lastForm = document.querySelector(".d-inline-flex:last-of-type")
                let newForm = lastForm.cloneNode(true)
                let formRegex = RegExp(`schema_column-(\\d+)-`, 'g');

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `schema_column-${formNum}-`)
                container.insertBefore(document.createElement("br"), addButton);
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum + 1}`)
                {#console.log('Add button clicked');#}
                {#console.log(`Number of forms before adding new form: ${columnForm.length}`);#}
                {#console.log(`Total forms value before adding new form: ${totalForms.value}`);#}
                {#console.log(document.querySelector("#id_schema_column-TOTAL_FORMS").value)#}
            }
        });
    </script>
{% endblock %}
